/* Open Sanas */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-1160 mx-auto px-5;
}

.bgcolor {
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

/* base */
@layer base {
  html {
    font-family: "Open Sans", sans-serif;
  }

  h1 {
    @apply font-bold text-3xl text-white;
  }

  h2 {
    @apply font-normal text-2xl text-white;
  }

  h3 {
    @apply font-normal text-lg text-white;
  }
}

/* components */
@layer components {
  .nav-btn {
    @apply border-2 border-light-gray rounded text-13 font-normal;
  }

  .header-btn {
    @apply px-2 py-0.5 rounded-sm;
  }
}

a.active {
  @apply bg-blue text-white;
}

/* .ant-table-wrapper {
  @apply !w-full;
} */






/* src/components/accordionItem.css */
.accordion-content-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
}

.accordion-content-enter-active {
  max-height: 200px;
  opacity: 1;
}

.accordion-content-exit {
  max-height: 200px;
  opacity: 1;
}

.accordion-content-exit-active {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
}

.icon {
  transition: transform 0.3s ease;
}

.icon.open {
  transform: rotate(180deg);
}


.footBG{
  background-image: url('https://toshvilstat.uz/templates/uztailwind/images/bg-pattern.jpg');
}

.headBG{
  background-image: url('https://my.soliq.uz/main/markup/images/bg-main.jpg')
}